.favourite-sites h1 {
  color: #5159ae;
}

.favourite-sites ul li {
  color: #FF6600;
  padding: 8px;
}

.favourite-sites ul li a {
  color: #FF0000;
  text-decoration: none;
}

.favourite-sites .google {
  height: 70px;
}

.favourite-sites .twitter {
  margin: 0;
  padding: 0;
}
