@import "stylesheets/custom_mixins/list-mixins";

$headerColour: #5159ae;
$bulletColour: #FF6600;
$bulletTextColour: 	#FF0000;

.favourite-sites {

  h1 {
    color: $headerColour;
  }

  ul {
    li {
      color: $bulletColour;
      padding: 8px;

      a {
        color: $bulletTextColour;
        text-decoration: none;

      }

    }
  }

  .google {
    height: 80px - 10px;
  }

  .twitter {
    @include reset-margin-padding;
  }

}
