body {
  font-family: 'Fira Code', monospace;
  font-size: 24px;
  line-height: 1;
  background: #fafafa;
}

/* Flex container */
.fleximages {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
}

.fleximages__imgblock {
  padding: 1px 2px 1px 2px;
}

.header {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.header__words {
  box-shadow: 3px blue;
  padding: 1em;
}

.header__words--black {
  color:black;
}

.header__words--red {
  color: red;
}

.header__words--white {
  background-color: black;
  color: white;
}

.inputdiv__addimage {
  background-color: black;
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  font-size: 16px;
}
